.userWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatarCircle {
    width: 35px;
    height: 35px;
    background-color: #00b4d8;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 180, 216, 0.5);
}

.name {
    color: #cbd5e0;
    font-size: 14px;
}